
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Rubik&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

.container{
    width: 1200px;
    margin: 0 auto;
}

body{ 
    font-family: "Rubik", serif;
}

h1, h2, h3, h4, h5, h6 { 
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: normal;
}

.hero-area{
    background-image: url(../images/bg2.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
}

.hero-area:after {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    content: "";
    background-color: #000;
    opacity: .5;
    z-index: -1;
}

.haeder {
    width: 900px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
}

.menu ul {
    display: flex;
    list-style: none;
    align-items: center;
}

.menu a {
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
}

.btn, .hero-btn .btn{ 
    background-color: orangered;
    border-radius: 5px;
    display: inline-block;
    color: #fff;
    border-radius: 5px;
    padding: 10px 20px;
    text-decoration: none;
}

.hero-text{
    width: 800px;
    margin: 10% auto;
    color: #fff;
    text-align: center;
}

.hero-text h1{
    font-size: 40px;
    line-height: 66px;
    margin-bottom: 20px;
}

.hero-btn a {
    margin: 25px 10px;
    background-color: gray;
    /* border-radius: 5px; */
    display: inline-block;
    color: #fff;
    border-radius: 5px;
    padding: 10px 20px;
    text-decoration: none;
}

.top-bottom-padding{
    padding: 100px 0;
}

.section-title {
    text-align: center;
    width: 600px;
    margin: auto;
}

.section-title h4 {
    font-size: 13px;
    text-transform: uppercase;
    margin-bottom: 8px;
    color: orangered;
}

.section-title h2 {
    font-size: 30px;
    margin-bottom: 14px;
}

.services {
    display: flex;
    margin-left: -15px;
    margin-right: -15px;
    margin-top: 55px;
}

.single-service-box-inner {
    border: 1px dotted #eeeeee;
    margin-left: 15px;
    margin-right: 15px;
    padding: 40px;
    text-align: center;
    line-height: 28px;
}

.icon-box {
    width: 60px;
    height: 60px;
    border: 1px solid #ddd;
    padding: 12px;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 40px;
}

.single-service-box-inner h4 {
    margin: 14px;
    font-size: 16px;
}

.single-service-box-inner p {
    font-size: 15px;
}

.single-service-box-inner:hover {
    box-shadow: 0px 0px 23px #0000002e;
    transition: .3s;
}

.icon-box:hover {
    background-color: orangered;
    transition: .3s;
    color: white;
}

.single-service-box:nth-child(2) .icon-box {
    background-color: orangered;
    color: white;
}